<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boram.mapper.boardArticleMapper">

    <!-- select -->
    <select id="selectBoardArticleList" resultType="com.boram.domain.entity.BoardArticleEntity" parameterType="com.boram.domain.vo.BoardArticleVo">
        SELECT a.*
          FROM (
            SELECT a.ba_id, a.ba_title, a.ba_contents, a.ba_insert_dt, a.ba_read_count,
            a.ba_password
            FROM board_article a
            WHERE 1 = 1
            <if test="searchKeyword != ''">
                <if test="searchType == 'TITLE'">
                    AND a.ba_title LIKE '%'||#{searchKeyword}||'%'
                </if>
                <if test="searchType == 'CONTENTS'">
                    AND a.ba_contents LIKE '%'||#{searchKeyword}||'%'
                </if>
            </if>
            ORDER BY a.ba_id DESC
        ) a
        LIMIT #{limit} OFFSET #{offset}
        <!--
        SELECT * FROM 테이블명 LIMIT 숫자(A) OFFSET 숫자(B)
        위 쿼리는 (B+1) 행 부터 ~ A 행 만큼 출력을 합니다.
        -->
    </select>

    <select id="selectBoardArticleTotalCount" resultType="int" parameterType="com.boram.domain.vo.BoardArticleVo">
        SELECT COUNT(*) totalCount
        FROM board_article a
        WHERE 1 = 1
        <if test="searchKeyword != ''">
            <if test="searchType == 'TITLE'">
                AND a.ba_title LIKE '%'||#{searchKeyword}||'%'
            </if>
            <if test="searchType == 'CONTENTS'">
                AND a.ba_contents LIKE '%'||#{searchKeyword}||'%'
            </if>
        </if>
    </select>

    <select id="selectOneBoard" parameterType="int" resultType="com.boram.domain.entity.BoardArticleEntity">
        SELECT *
          FROM board_article
         WHERE ba_id = #{ba_id}
    </select>

    <select id="countReply" parameterType="int" resultType="int">
        SELECT COUNT(*) AS count
          FROM board_comments
         WHERE ba_id = #{ba_id}
    </select>

    <select id="selectBoardCommentsList" resultType="com.boram.domain.entity.BoardCommentsEntity" parameterType="int">
        SELECT *
          FROM board_comments
         WHERE ba_id = #{ba_id}
    </select>

    <!-- insert -->
    <insert id="insertBoardArticle" parameterType="com.boram.domain.entity.BoardArticleEntity">
        <selectKey keyProperty="baId" resultType="int" order="BEFORE">
            SELECT NEXTVAL('seq_ba_id') baId
        </selectKey>
            INSERT INTO board_article (ba_id, ba_title, ba_contents, ba_insert_dt, ba_read_count, ba_password)
            VALUES (
                       #{baId},
                       #{baTitle},
                       #{baContents},
                       NOW(),
                       0,
                       #{baPassword}
                   )
    </insert>

    <insert id="insertBoardComments" parameterType="com.boram.domain.entity.BoardCommentsEntity">
        <selectKey keyProperty="bcId" resultType="int" order="BEFORE">
            SELECT NEXTVAL('seq_bc_id') bcId
        </selectKey>
            insert into board_comments (bc_id, ba_id, bc_contents, bc_password, bc_insert_dt)
            values (
                        #{bcId},
                        #{baId},
                        #{bcContents},
                        #{bcPassword},
                        now());
                    )
    </insert>

    <!-- update -->
    <update id="updateReadCount" parameterType="int">
        UPDATE board_article
           SET ba_read_count = ba_read_count + 1
         WHERE ba_id = #{ba_id}
    </update>

    <update id="updateBoard" parameterType="com.boram.domain.entity.BoardArticleEntity">
        UPDATE board_article
           SET ba_title = #{baTitle},
               ba_contents = #{baContents}
         WHERE ba_id = #{baId}
    </update>

    <!-- delete -->
    <delete id="deleteBoard" parameterType="int">
        DELETE
          FROM board_article
         WHERE ba_id = #{ba_id}
    </delete>

</mapper>